/* mobile style overrides ----------------------------------------------------- */
/*
	 ______    ______    __  __     _     _
	|____  \  |  ___/   /  \/  \   | |   | |
	|  __  /  |  ___/  / /\  /\ \  | |___| |
	|_|  \_\  |_____/ /_/  \/  \_\ `._____.´

	REMU Tumblr theme MOBILE
	
	Designed by zvuc <kimatg@gmail.com>
	Markup by Premist <premist@me.com>

*/
@font-face {
  font-family: 'BebasNeueSVG';
  src: url('http://project-remu.github.com/remu-tumblr-theme/bebasneue.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-bebas {
  font-family: "BebasNeueSVG", "Bebas Neue", "League Gothic", "Ostrich Sans", "Hiragino Sans", "Apple SD Gothic Neo", "AppleSDGothicNeo", "SDGothicNeo1OTF", "Malgun Gothic", "Nanum Gothic", "NanumGothic", "Dotum", Helvetica, Arial, sans-serif;
}
.font-helvetica {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Apple SD Gothic Neo", "AppleSDGothicNeo", "SDGothicNeo1OTF", "Malgun Gothic", "Nanum Gothic", "NanumGothic", "Dotum", Helvetica, Arial, sans-serif;
}
.border-image-none {
  -moz-border-image: none;
  -webkit-border-image: none ;
  -o-border-image: none;
  border-image: none;
  border-color: transparent;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .border-image-none {
    border-style: none;
    border-width: 0px;
    -moz-border-image: none;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-color: transparent;
  }
}
/* mobile style overrides ----------------------------------------------------- */
header {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
header #bg-header {
  width: 100%;
  height: 200px;
  background-position: -230px -48px;
}
header #remu-logo,
header a.blogtitle {
  display: none;
}
header a.blogtitle-mobile {
  display: block;
  width: 214px;
  height: 60px;
  position: absolute;
  top: 40px;
  left: 0px;
  background-image: url('http://project-remu.github.com/remu-tumblr-theme/images/remu-blogtitle-small.png');
  border: none;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  header a.blogtitle-mobile {
    background-image: url('http://project-remu.github.com/remu-tumblr-theme/images/remu-blogtitle-small@2x.png');
    background-size: 214px 60px;
  }
}
header a.blogtitle-mobile h1 {
  display: none;
  border: none;
}
#container {
  width: 100%;
  margin-left: 0;
  overflow: hidden;
}
#container article {
  width: 100%;
  border-style: none;
  border-width: 0 0 0 0;
  border-image: none;
  -moz-border-image: none;
  -webkit-border-image: none;
  background-image: url('http://project-remu.github.com/remu-tumblr-theme/images/entrybg-top-mobile.png');
  background-repeat: no-repeat;
  background-position: 10px 0px;
  padding: 35px 0 0 0;
  margin: 0 0 10px;
  overflow: hidden;
  /* post type-specific styles */

}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #container article {
    background-image: url('http://project-remu.github.com/remu-tumblr-theme/images/entrybg-top-mobile@2x.png');
    background-size: 700px 20px;
  }
}
#container article h2.title {
  font-size: 22px;
}
#container article .entry {
  padding: 0 10px;
  margin: 0;
}
#container article .postcode {
  transform: none;
  -moz-transform: none;
  -webkit-transform: none;
  top: 10px;
  right: 10px;
  bottom: inherit;
  left: inherit;
  text-align: right;
}
#container article .post-meta {
  float: right;
  width: 170px;
  height: 15px;
  background-image: url('http://project-remu.github.com/remu-tumblr-theme/images/entrybg-bottom.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 100px 15px 5px 15px;
  margin: -90px -30px 0 0;
  font-family: "BebasNeueSVG", "Bebas Neue", "League Gothic", "Ostrich Sans", "Hiragino Sans", "Apple SD Gothic Neo", "AppleSDGothicNeo", "SDGothicNeo1OTF", "Malgun Gothic", "Nanum Gothic", "NanumGothic", "Dotum", Helvetica, Arial, sans-serif;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #container article .post-meta {
    background-image: url('http://project-remu.github.com/remu-tumblr-theme/images/entrybg-bottom@2x.png');
    background-size: 200px 320px;
  }
}
#container article .post-meta a {
  border-bottom: none;
  color: #bcbcbc;
}
#container article .post-meta a:hover {
  color: #fff;
}
#container article .post-meta time {
  margin-right: 5px;
}
#container article .post-meta .notes {
  margin-left: 7px;
}
#container article.block-photo,
#container article.block-photoset,
#container article.block-audio,
#container article.block-video,
#container article.block-quote,
#container article.block-chat {
  -moz-border-image: none;
  -webkit-border-image: none ;
  -o-border-image: none;
  border-image: none;
  border-color: transparent;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #container article.block-photo,
  #container article.block-photoset,
  #container article.block-audio,
  #container article.block-video,
  #container article.block-quote,
  #container article.block-chat {
    border-style: none;
    border-width: 0px;
    -moz-border-image: none;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-color: transparent;
  }
}
#container article.block-photo .entry {
  margin: 0;
}
#container article.block-photoset .photoset {
  margin: 0 0 15px 0;
  max-width: 100% !important;
}
footer {
  background-image: url('http://project-remu.github.com/remu-tumblr-theme/images/footerbg.png');
  background-repeat: no-repeat;
  background-position: -200px 0;
  overflow: hidden;
  width: 100%;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  footer {
    background-image: url('http://project-remu.github.com/remu-tumblr-theme/images/footerbg@2x.png');
    background-size: 1024px 100px;
  }
}
footer .bg {
  display: none;
}
footer .container {
  position: relative;
  z-index: 2;
  height: 150px;
  width: 100%;
}
footer .container .paging {
  margin-left: 0;
}
footer .container .copyright {
  position: relative;
  top: 0;
  right: 0;
  padding: 10px 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer .container .copyright p {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}
