!!! 5
html
	head
		meta(charset="utf-8")
		title REMU Development Blog
		link(rel="stylesheet", href="style.css")
	body
		header
			#bg-header
			#remu-logo
			a(href="#")
				h1 REMU Development Blog
		#container
			article
				h2
					a(href="#") RhythmJS Preview 2 일정 공개!
				.entry
				p 《마비노기》는 <a href="#">데브캣</a> 자체 개발 엔진인 플레이오네 엔진을 이용한 실시간 3D 게임이다. 스탯 시스템을 사용하는 일반적인 한국 게임과는 달리, 기술 시스템이 적용된 스킬 중심 온라인 게임이다. 현재 적용되어 있는 스킬들은 크게 생활, 음악, 전투, 마법, 연금술, 격투술, 인형술, 변신, 반신화 계열로 나뉜다. 또한 각 마을의 여러 NPC는 정해진 시간에 일정 인원에게 <b>아르바이트</b>를 제공하기도 한다. 던전 출입시 던전 내부의 제단에 통행증이나 물건을 제물로 놓으면 아이템에 따라 다른 던전이 생성되는 인스턴스 던전 시스템에 의해 하나의 던전에 사용자가 몰리지 않고 각기 다른 던전을 이용할 수 있다.
				img(src="http://i.imgur.com/k0XC3.jpg")
				p 《마비노기》는 2004년 6월 22일 정식 서비스를 시작하며 제네레이션 1 시즌 1을 내놓았으며, 이후로 큰 규모의 패치가 있을 때마다 다음 단계로 넘어간다. 제네레이션은 약 6개월 간격으로 넘어가며 각 제네레이션은 게임사에서 붙인 특별한 이름이 있다. 하나의 제네레이션은 약 3 ~ 4개의 시즌으로 이루어져 있다. 제네레이션은 원래 제네레이션 3에서 종결되었으나 개발팀장 교체 이후 신대륙 이리아를 내놓으며 챕터 2 - 이리아의 개척자라는 이름과 함께 제네레이션 4를 내놓고 이후 본래의 성격과 다른 제네레이션을 지속적으로 내놓게 되었다.
				p 세컨드 챕터 이전을 챕터 1(G1 ~ G3)이라고 불러 구분하고, 이후의 챕터 2(G4 ~ G8)는 신대륙 이리아의 등장, 챕터 3(G9 ~ G12)는 무료화 및 연금술 등장이라는 개발팀장 교체와 함께 이루어진 대규모 패치에 따라 넘어왔다. 챕터 4(G13 ~G16)는 켈트 신화가 아닌 윌리엄 셰익스피어에 대한 이야기로 변경 되었으나, 더 클레식부터 개발팀장 교체를 시작으로 챕터 샤말라(샤말라,변신마스터리등장 , G17 프롤로그)인벤 플러스 키드가 무료화로 변경되었고, C5(G17~ ) 영웅의 대서사로 바뀌었다.
				p 각 종족이 특화됐다는 점이 제대로 드러나는 부분은 엘프의 경우 근접 전투스킬이 대미지도 안나오고 수련항목도 다른 두 종족보다 더 많아 올리기 매우 힘들며, 양손검 같이 무거운 무기는 들 수 없을 정도로 근접 무기 계열은 들지 못하는 류가 많다. 하지만 원거리 공격을 할때 한 번에 두개의 화살을 쏘는 등 활을 이용한 공격에선 엘프를 넘을 수 없다. 반대로 자이언트의 경우 활을 사용할 수 없고 마법스킬의 경우엔 마나가 부족하다는 애로사항이 꽃피지만 근접 공격 스킬의 데미지 퍼센트가 다른 종족보다 훨씬 높다. 인간의 경우 활로는 엘프를 넘을 수 없고 근접 전투에선 자이언트를 이길 수 없지만 두 종족이 각기 사용할 수 없는 스킬이나 무기 등을 가장 다채롭게 사용이 가능하고 대신 두 종족의 특화무기(종족 전용)는 사용 불가능 하다.

				
			article
				h2
					a(href="#") RhythmJS Preview 2 일정 공개!
				.entry
				p 《마비노기》는 <a href="#">데브캣</a> 자체 개발 엔진인 플레이오네 엔진을 이용한 실시간 3D 게임이다. 스탯 시스템을 사용하는 일반적인 한국 게임과는 달리, 기술 시스템이 적용된 스킬 중심 온라인 게임이다. 현재 적용되어 있는 스킬들은 크게 생활, 음악, 전투, 마법, 연금술, 격투술, 인형술, 변신, 반신화 계열로 나뉜다. 또한 각 마을의 여러 NPC는 정해진 시간에 일정 인원에게 <b>아르바이트</b>를 제공하기도 한다. 던전 출입시 던전 내부의 제단에 통행증이나 물건을 제물로 놓으면 아이템에 따라 다른 던전이 생성되는 인스턴스 던전 시스템에 의해 하나의 던전에 사용자가 몰리지 않고 각기 다른 던전을 이용할 수 있다.
				ul
					li hello
					li world
					li gogogo


		footer
			p © 2012 Team REMU
			p
				a(href="http://project-remu.com/") project-remu.com