/*
	 ______    ______    __  __     _     _
	|____  \  |  ___/   /  \/  \   | |   | |
	|  __  /  |  ___/  / /\  /\ \  | |___| |
	|_|  \_\  |_____/ /_/  \/  \_\ `._____.´

	REMU Tumblr theme
	
	Designed by zvuc <kimatg@gmail.com>
	Markup by Premist <premist@me.com>

*/

// variables
//@base-url: ".";
@base-url: "http://project-remu.github.com/remu-tumblr-theme";
@remu-pink: #fd45d1;
@remu-pink2: #ab4292;
@text-color: #bcbcbc;

// import
@import "webfont.less";
@import "reset.less";
@import "retina.less";

// mixins
.font-bebas {
	font-family: "BebasNeueSVG", "Bebas Neue", "League Gothic", "Ostrich Sans", "Hiragino Sans", "Apple SD Gothic Neo","AppleSDGothicNeo","SDGothicNeo1OTF","Malgun Gothic","Nanum Gothic","NanumGothic","Dotum", Helvetica, Arial, sans-serif;
}
.font-helvetica {
	font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Apple SD Gothic Neo","AppleSDGothicNeo","SDGothicNeo1OTF","Malgun Gothic","Nanum Gothic","NanumGothic","Dotum", Helvetica, Arial, sans-serif;
}

.border-image (@path, @slice: 65 0 0 19, @slice2x: 130 0 0 38, @2xsize: 65px 0px 0px 19px) {
	-moz-border-image: url(@path) @slice repeat; 
	-webkit-border-image: url(@path) @slice repeat; 
	-o-border-image: url(@path) @slice repeat; 
	border-image: url(@path) @slice fill repeat;
	border-color: transparent;

	@media all and (-webkit-min-device-pixel-ratio : 1.5) {
		@at2x_path: ~`"@{path}".split('.').slice(0, "@{path}".split('.').length - 1).join(".") + "@2x" + "." + "@{path}".split('.')["@{path}".split('.').length - 1]`;

		border-style: solid; 
		border-width: @2xsize; 
		-moz-border-image: url(~"@{at2x_path}") @slice2x repeat; 
		-webkit-border-image: url(~"@{at2x_path}") @slice2x repeat; 
		-o-border-image: url(~"@{at2x_path}") @slice2x repeat; 
		border-image: url(~"@{at2x_path}") @slice2x fill repeat;
		border-color: transparent;			
	}

}


::selection { background-color: @remu-pink;	color: #fff; }
::-moz-selection  { background-color: @remu-pink;	color: #fff; }
::-webkit-selection { background-color: @remu-pink;	color: #fff; }

a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	
	&:hover {
		color: #fff;
		border-bottom: 1px solid @remu-pink;
	}
}

html, body {
	width: 100%;
	height: 100%;
	color: @text-color;
	.font-helvetica;
}

body {
	.at2x('@{base-url}/images/bg-pattern.gif', 3px, 3px);
	font-size: 75%;
}

header {
	width: 100%;
	height: 300px;
	.at2x('@{base-url}/images/header-hrepeat.png', 1024px, 300px);
	
	#bg-header {
		position: absolute;
		width: 980px;
		height: 300px;
		.at2x('@{base-url}/images/headerbg.png', 1024px, 300px);
	}
	
	#remu-logo {
		position: absolute;
		width: 182px;
		height: 193px;
		top: 15px;
		margin: 25px;
		border: none;
		.at2x('@{base-url}/images/remu-logo.png', 182px, 193px); 

		span { 
			display: block; 
			width: 100%;
			height: 100%;
		}
	}
	
	a.blogtitle {
		position: relative;
		display: block;
		width: 325px;
		height: 18px;
		top: 110px;
		left: 240px;
		border: none;
		.at2x('@{base-url}/images/remu-blogtitle.png', 325px, 18px);
		
		&:hover { border: none; }
		
		h1 {
			display: block;
			width: 325px;
			height: 18px;
			text-indent: -9999em;
		}
		
	}
	
}

#container {
	position: relative;
	margin-top: -50px;
	margin-left: 190px;
	width: 790px;
	
	article {
		width: 600px;
		margin-bottom: 180px;
		border-style: solid; 
		border-width: 65px 0px 0px 20px; 
		.border-image('@{base-url}/images/entrybg.png');
		position: relative;

		h1,h2,h3,h4,h5,h6 {
			.font-helvetica;
			margin: 30px 0 10px 0;
			color: #fff;
		}


		h2.title { 
			width:100%;
			height: 65px;
			font-size: 24px; 
			margin: 0;
			.font-helvetica;

			a {
				border: none;
				&:hover { border: none; color: #fff; }
			}
		}

		h2 { font-size: 20px; }
		h3 { font-size: 18px; }
		h4 { font-size: 16px; }
		h5 { font-size: 14px; }
		h6 { font-size: 13px; }
		
		.entry { 
			min-height: 120px;
			padding: 0 0 0 30px;
			margin: -65px 0 20px 0;
			line-height: 1.8em;
		}

		p {
			font-size: 13px;
			margin: 0 0 20px 0;
		}
		
		b {
			color: #fff;
		}
		
		img {
			position: relative;
			display: block;
			max-width: 90%;
			margin: 30px auto;
		}

		ul { 
			margin: 10px 0;
			padding: 0 0 0 8px;

			li {
				.at2x('@{base-url}/images/bulletsq.png', 5px, 5px);
				background-repeat: no-repeat;
				background-position: left 10px;
				padding: 0 0 5px 17px;
			}
		}

		ol { 
			margin: 10px 0;
			padding: 0 0 0 25px;
			li {
				padding: 0 0 5px 0;
			}
		}

		blockquote {
			margin: 15px 0 15px 10px;
			border-left: 4px solid #383838;
			padding: 10px 20px;
		}

		pre { 
			background: rgba(0,0,0,0.5);
			border: 1px solid #000;
			padding: 10px 15px;
		}
		
		.post-meta {
			float:right;
			width: 170px;
			height: 15px;
			.at2x('@{base-url}/images/entrybg-bottom.png', 200px, 320px);
			background-position: bottom right;
			background-repeat: no-repeat;
			padding: 100px 15px 5px 15px;
			margin: -90px -30px 0 0;
			.font-bebas;

			a { 
				border-bottom: none; color: @text-color; 
				&:hover { color: #fff; }
			}

			time {
				margin-right: 5px;
			}

			.notes {
				margin-left: 7px;
			}
			
		}

		.postcode {
			.font-bebas;
			font-size: 7px;
			position: absolute;
			bottom: -8px;
			left: -16px;
			color: #b3b3b3;
			letter-spacing: 1px;
			opacity: 0.6;

			transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-webkit-transform: rotate(-90deg);
			transform-origin: 0 0;
			-moz-transform-origin: 0 0;
			-webkit-transform-origin: 0 0;

		}

		/* post type-specific styles */
		&.block-photo, &.block-photoset, {
			.border-image('@{base-url}/images/entrybg-photo.png');

		}

		&.block-photo {
			.entry { 
				margin: -95px 0 20px 0;
			}
		}

		&.block-photoset {
			.photoset { 
				margin: 0 0 15px 0;
			}
		}

		&.block-audio {
			.border-image('@{base-url}/images/entrybg-audio.png');
		}

		&.block-video {
			.border-image('@{base-url}/images/entrybg-video.png');
		}				

		&.block-quote {
			.border-image('@{base-url}/images/entrybg-quote.png');
			.entry {
				blockquote { font-size: 1.5em; margin: 10px 0; padding: 0; border: none; }
				.source { float: right; }
			}
		}

		&.block-chat {
			.border-image('@{base-url}/images/entrybg-alt.png');
		}
		
	}
	


}

footer {
	position: relative;
	display: block;
	margin: 50px 0;
	width: 100%;
	height: 100px;

	.bg {
		border-style: solid; 
		border-width: 0px 0px 0px 710px; 
		.border-image('@{base-url}/images/footerbg.png', ~'0 0 0 710', ~'0 0 0 1420', ~'0px 0px 0px 710px');
		height: 100px;
		position: relative; 
		z-index:1; 
	}
	
	.container {
		position: absolute;
		top: 0;
		left: 0;
		z-index:2; 
		height: 100px;
		width: 980px;

		.paging {
			width: 300px;
			margin-left: 200px;
			height: 100px;
			position: relative;

			.pgbtn {
				display: block;
				height: 20px;
				width: 70px;
				.font-bebas;
				text-decoration: none;
				border: none;
				position: absolute;
				font-size: 16px;

				&:hover { 
					border: none;
				}

				&.prevpage {
					.at2x('@{base-url}/images/paging-prev-bullet.png', 20px, 40px);
					background-position: left top;
					background-repeat: no-repeat;
					padding-left: 10px;
					top: 10px;
					left: 5px;
					line-height: 12px;

					&:hover {
						background-position: left -20px;
					}
				}

				&.nextpage {
					.at2x('@{base-url}/images/paging-next-bullet.png', 20px, 40px);
					background-position: right top;
					background-repeat: no-repeat;
					padding-right: 10px;
					top: 17px;
					right: 70px;
					text-align: right;
					line-height: 28px;
					
					&:hover {
						background-position: right -20px;
					}

				}

			}

			.pagejump {
				height: 25px;
				width: 100%;
				position: absolute;
				bottom: 0;
				margin: 0 0 22px 30px;
				.font-bebas;

				.pi {
					padding: 0 2px;
					margin-right: 2px;

					&.current {
						font-weight: bold;
					}

				}

			}
		}
		.copyright {
			position: absolute;
			top: 0;
			right: 0;
			padding: 10px 0;
			width: 250px;

			p {
				position: relative;
				display: inline-block;
				width: 100%;
				font-size: 15px;
				.font-bebas;
				
				&:first-child { margin-top: 10px; }
				
				a {
					color: @text-color;
					border-bottom: 1px solid @text-color;
					
					&:hover {
						color: @text-color;
						border-bottom: 1px solid @text-color;
					}
					
				}
			}
		}
	}
}